.alignleft {
    float: left;

    &img {
        margin: 0.5rem $g--space $g--space / 2 0;
    }
}

.alignright {
    float: right;

    &img {
        margin: 0.5rem 0 $g--space / 2 $g--space;
    }
}

.aligncenter {
    display: block;
    margin: 0 auto;

    &img {
        margin: 0.5rem auto $g--space;
    }
}
