// @desc Get a value from the $map-z-index map.
// @param  $index {string} The desired index from the map. (Default value: base)
// @return number          The value of requested index.
@function z($index: base) {

    $map-z-index: (
        critical: 20,
        vip: 10,
        important: 9,
        above: 2,
        base: 1,
        zero: 0,
        hide: -1
    );

    @if map-has-key($map-z-index, $index) {

        @return map-get($map-z-index, $index);

    } @else {

        @warn '`#{index}` is not a valid index in Map: $map-z-index.';
        @return null;

    }

}
